//colors
$loginBtnBase: rgb(50, 202, 71);
$loginBtnHover: rgb(83, 238, 104);
$bodyBase: gray;
$sectionTitle: rgb(127, 206, 127);
$sectionDiscription: rgb(22, 22, 22);
$svg: greenyellow;
$navBackround: rgba(255, 255, 255, 1);
$section5: rgb(3, 119, 119);
$modal: #f3f3f3;
$overlay: rgba(0, 0, 0, 0.5);
