.modal {
  max-width: 70rem;
  //min-width: 50vw;

  background-color: config.$modal;
  z-index: 101;
  position: fixed;
  transition: all 1s;
  padding: 4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .modal_btn {
    display: block;
    margin: 3rem auto 0 auto;
    color: config.$sectionDiscription;
    background-color: config.$loginBtnBase;
    cursor: pointer;
    border-radius: 8rem;
    transition: 0.25s;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
    text-align: center;
    padding: 1.25rem 3.5rem;
  }
  &_btn:hover {
    background-color: config.$loginBtnHover;
  }
  &_title {
    display: block;
    padding: 1rem 2rem;
    margin: 0 auto;
    max-width: 40rem;
    //text-align: center;
    h3 {
      font-size: 3rem;
    }
  }
  span {
    display: inline-block;
    position: relative;
  }
  span::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-color: config.$svg;
  }
  &_login {
    margin: 2rem auto;
    display: block;
  }
  label {
    font-size: 1.2rem;
    margin-right: 2rem;
  }
}
